<div class="container-fluid div-app">
  <div class="header-app header-orders">
    <h3>Ordenes</h3>
    <nz-select nzSize="small" [(ngModel)]="status" (ngModelChange)="updateOrders($event)">
      <nz-option nzValue=0 nzLabel="Pendientes"></nz-option>
      <nz-option nzValue=1 nzLabel="Aprobadas"></nz-option>
      <nz-option nzValue=-1 nzLabel="Rechazadas"></nz-option>
    </nz-select>
  </div>
  <div class="content-app">
    <nz-table #basicTable
              [nzData]="ordersInfo"
              [nzNoResult]="'No hay ordenes en el estado seleccionado'"
              nzSize="small"
              nzPageSize="4">
      <thead>
      <tr>
        <th>Orden</th>
        <th>Descripción</th>
        <th>Qitems</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <span >
            <a (click)="sendOrderInfo(data)" [routerLink]="['/orders', data['orderId']]">N° {{ data['orderId'] }}</a>
          </span>
        </td>
        <td>{{ data['orderDescription']}}</td>
        <td>{{ data['qItems']}}</td>
        <td>{{ data['total']}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
