.header-orders-details {
  justify-content: space-between!important;
}

.table-detail {
 max-height: 190px;
}

.order-status {
  font-size: 14px;
  line-height: 22px;
  padding: 0 5px;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}

.pending {
  color: #066aea;
  background-color: #e6f0fc;
}

.approved {
  background-color: #E6F7EE!important;
  color: #00A750!important;
}

.rejected {
  background-color: #fee9ef!important;
  color: #fb2467!important;
}

.approve-order {
  background: #00A750!important;
  margin-right: 3px!important;
  color: #fff;
  border-radius: 20px!important;
}

.reject-order {
  background: #fb2467!important;
  margin-right: 3px!important;
  color: #fff;
  border-radius: 20px!important;
}

.total-order {
  color: #066aea;
  background-color: #e6f0fc;
  font-size: 15px;
  margin-right: 5px;
  border-radius: 6px;
}

.div-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e6f0fc;
}

.order-description {
  background-color: #e6f0fc;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 22px;
}

.ant-table-wrapper {
  max-height: 180px!important;
}
